<h1 class="title--long">Arguments sent with these actions:</h1>
<ul>
  <li>The component</li>
  <li>The value of the component</li>
  <li>The jquery event</li>
</ul>

{{title "Arguments sent with these actions"}}
