<h1 class="title--long">That means:</h1>
<ul>
  <li>Specifying `selected=true` now works</li>
  <li>If nothing is selected, it will select the first option</li>
  <li>If the selected option is removed it will select the first option</li>
</ul>

{{title "The fix for default values means..."}}
