<h1>Other Little Fixes:</h1>
<ul>
  <li><a href="https://github.com/thefrontside/emberx-select/commit/c923be909e69480ddfb591d3830656186d54e235">Don’t update component value if tearing component down</a></li>
  <li><a href="https://github.com/thefrontside/emberx-select/commit/a5591d13176ebc4616fe3cce19ee6af09bf97014">Update readme description</a></li>
  <li><a href="https://github.com/thefrontside/emberx-select/commit/2b5c639427ed09098b76972733233a74c5081bd0">Remove old cruft leftover from x-select-blockless</a></li>
  <li><a href="https://github.com/thefrontside/emberx-select/commit/a7ff0dd33821f9e773c30f0a5f377b33151750e3">Added changelog.md</a></li>
  <li><a href="https://github.com/thefrontside/emberx-select/commit/522a98c311566c839ff086c4df96becb0b778a29">Added code of conduct</a></li>
</ul>

{{title "Other little fixes"}}
