<h1 class="title--xlong">Thank you everyone that uses x-select!</h1>
<h2 class="subtitle">We're #12 in the top <a href="http://emberobserver.com/addons/lists/top">100 ember addons</a></h2>

{{title "Thank you everyone that uses x-select"}}
