<h1 class="title--long"><a href="https://github.com/thefrontside/emberx-select/graphs/contributors">Thank you to all the contributers</a></h1>
<h2 class="subtitle">Thank you <a href="https://twitter.com/fivetanley">@fivetanley</a> & <a href="https://twitter.com/lydiaguarino">@lydiaguarino</a> for x-select 2.1!</h2>

{{title "Thank you to all the contributers"}}
